PORT=3000
CORS_ORIGIN=http://localhost:5173
DB_HOST=localhost
DB_PORT=5433
DB_USER=checkout
DB_PASSWORD=checkout
DB_NAME=checkout
WOMPI_BASE_URL=https://sandbox.wompi.co/v1
WOMPI_PUBLIC_KEY=pub_test_replace_me
WOMPI_PRIVATE_KEY=prv_test_replace_me
WOMPI_INTEGRITY_SECRET=test_integrity_replace_me
WOMPI_EVENTS_SECRET=test_events_replace_me
STUCK_PENDING_AFTER_MS=120000
ORPHAN_PENDING_TTL_MS=1800000
JOB_INTERVAL_MS=60000
WEBHOOK_MAX_SKEW_SECONDS=300
